<div class="container text-center fs-1 fst-italic">
<h1> Stupid Coach </h1>
</div>
<form>
<div class="container text-center">
  <div class="card-category mt-5">
  </div>
</div>
<div class="container text-center mt-5">
  <form action="/answer" data-turbo="false">
    <input type="text" name="answer">
    <input type="button" class="btn btn-primary" value="Ask!">
  </form>
</div>
